<!--cssスタイル-->
<style>
*{
margin-left:15px;
}
  table{
    margin-left:20px;
  }
   th, booktitle {
    padding-right: 100px;
    position:relative;
    width: 200px; 
    white-space:pre-line;
  }
  bookbody{
    width: 500px; 
    position:relative;
    white-space:pre-line;
  }
  show{
    width: 500px; 
  }
  </style>
  
  <h1>Books</h1>
  
  <!-- 投稿表示部分 -->
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td class='booktitle'><%= book.title %></td>
        <td class='bookbody'><%= book.body %></td>
        <td><span ><%= link_to "show", "/books/#{book.id}" %></span></td>
        <td><span ><%= link_to "edit", edit_list_path(book.id)%></span></td>
    <% end %>
  </tbody>
  </table>
  
<!-- form_with部分 -->
<h1>New book</h1>
<%= form_with model: @book do |f| %>
  <h4 >Title</h4>
  <%= f.text_field :title %>
	
  <h4>Body</h4>
  <%= f.text_area :body %></br>
  <%= f.submit 'create Book' %>
<% end %>