
<!--cssスタイル-->

<style>
*{
margin-left:15px;

}
}

  table{
    margin-left:20px;
  }
   th, booktitle {
    padding-right: 100px;
    position:relative;
    width: 200px; 
    white-space:pre-line;
  }
  bookbody{
    width: 500px; 
    position:relative;
    white-space:pre-line;
  }
  show{
    width: 500px; 
  }
 
  </style>
   <%= flash[:notice] %>
  <h1>Books</h1>
  
  <!-- 投稿表示部分 -->
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td class='booktitle'><%= book.title %></td>
        <td class='bookbody'><%= book.body %></td>
        <td><span ><%= link_to "show", "/books/#{book.id}" %></span></td>
        <td><span ><%= link_to "edit", edit_book_path(book.id)%></span></td>
        <td><span><%= link_to "delete", destroy_book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></span></td>
    <% end %>
  </tbody>
  </table>
  
<!-- form_with部分 -->
<h1>New book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>




<%= form_with model: @book do |f| %>
  <p style="margin-top: -5px;margin-bottom: -25px;">Title</p></br>
  <%= f.text_field :title %>
	
  <p style="margin-top: -3px;margin-bottom: -3px;">Body</p>
  <%= f.text_area :body %></br>
  <%= f.submit 'create Book' %>
<% end %>