<style>
    div{
        font-weight:bold;
    }
</style>
<%= flash[:notice] %>
<p><div>Title:</div><%= @book.title %></p>
<p><div>Body:</div><%= @book.body %></p>
<%= link_to "Edit",edit_book_path %>
<%= link_to "Back",books_path %>